<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Login" colSpan="2"></Label>
  </GridLayout>
</ActionBar>

<FlexboxLayout
  flexDirection="column"
  alignItems="center"
  justifyContent="center"
  class="page__content"
>
  <Image
    width="160"
    borderRadius="0"
    class="login-image"
    src="~/assets/logo-hq.png"
  ></Image>
  <FlexboxLayout
    class="input-container"
    alignItems="center"
    justifyContent="flex-start"
  >
    <Label text="@ Email"></Label>
  </FlexboxLayout>
  <TextField class="login-input"></TextField>
  <FlexboxLayout
    class="input-container"
    alignItems="center"
    justifyContent="flex-start"
  >
    <Label
      col="0"
      text="&#xf023;"
      class="nt-icon fas"
      fontSize="18"
      marginRight="5"
    ></Label>
    <Label text="Password"></Label>
  </FlexboxLayout>
  <TextField class="login-input"></TextField>
  <FlexboxLayout
    class="input-container"
    alignItems="center"
    justifyContent="center"
  >
    <Button class="main-button" text="Login" (tap)="login()"></Button>
    <Button class="secondary-button" text="Register" (tap)="login()"></Button>
  </FlexboxLayout>
  <Label class="forgot-password" text="Forgot your password?"></Label>
</FlexboxLayout>
