<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <StackLayout row="0" class="nt-drawer__header" backgroundColor="#ffffff">
      <Image
        width="140"
        borderRadius="0"
        class="nt-drawer__header-image"
        src="~/assets/logo-hq.png"
      ></Image>
    </StackLayout>

    <ScrollView row="1" class="nt-drawer__body" margin="0">
      <StackLayout>
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/home')"
        >
          <Label
            col="0"
            text="&#xf029;"
            class="nt-icon fas"
            fontSize="18"
          ></Label>
          <Label
            col="1"
            fontFamily="YanoneKaffeesatz"
            text="My Pintos"
            class="p-r-10"
          ></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/stores')"
          (tap)="onNavItemTap('/stores')"
        >
          <Label
            col="0"
            text="&#xf290;"
            class="nt-icon fas"
            fontSize="18"
          ></Label>
          <Label col="1" text="Stores" class="p-r-10"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/news')"
          (tap)="onNavItemTap('/news')"
        >
          <Label
            col="0"
            text="&#xf03a;"
            class="nt-icon fas"
            fontSize="18"
          ></Label>
          <Label col="1" text="News" class="p-r-10"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/about')"
          (tap)="onNavItemTap('/about')"
        >
          <Label
            col="0"
            text="&#xf05a;"
            class="nt-icon fas"
            fontSize="18"
          ></Label>
          <Label col="1" text="About" class="p-r-10"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          (tap)="logout()"
        >
          <Label
            col="0"
            text="&#xf0a9;"
            class="nt-icon fas"
            fontSize="18"
          ></Label>
          <Label col="1" text="Logout" class="p-r-10"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>

  <GridLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </GridLayout>
</RadSideDrawer>
