.page__content {
    font-family: 'YanoneKaffeesatz';
    font-size: 20;
}

ListView {
    separator-color: transparent;
}

.card-container {
    padding: 10 20;
    margin-bottom: 5;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px 0px;

    .store-image {
        margin-right: 20;
    }

    .name, .address, .distance {
        padding: 0 0 5 0;
    }

    .address {
        color: #777;
        font-size: 20;
    }

    .distance {
        color: #DF9882;
        font-size: 20;
    }

    .store-button {
        width: 100%;
        border-width: 1;
        border-color: #DF9882;
        color: #DF9882;
        font-size: 20;
    }
}