<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="News" colSpan="2"></Label>

    <Label color="#fff" class="fas" text="&#xf0c9;" fontSize="18" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<GridLayout rows="*">
  <ListView [items]="news">
    <ng-template let-newsItem="item">
      <!-- Nativescript needs that StackLayout in order to add margin since margin does not apply 
        to the first child of the ListView template -->
      <StackLayout> 
      <GridLayout columns="120, *" rows="*" class="card-container" (tap)="navigateToSingle(newsItem)">
        <Image src="~/assets/logo-hq.png" col="0" class="news-image"></Image>
        <FlexboxLayout flexDirection="column" col="1">
          <Label class="title" [text]="newsItem.title"></Label>
          <Label class="text" textWrap="true" [text]="getItemText(newsItem.text)"></Label>
        </FlexboxLayout>
      </GridLayout>
    </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>
