<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="My Pintos" colSpan="2"></Label>

    <Label color="#fff" class="fas" text="&#xf060;" fontSize="18" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<StackLayout>
  <Image src="~/assets/logo-hq.png" class="news-image"></Image>
  <Label [text]="newsItem.title" class="title"></Label>
  <Label [text]="newsItem.text" textWrap="true" class="text"></Label>
</StackLayout>
