<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="My Pintos" colSpan="2"></Label>

    <Label
      color="#fff"
      class="fas"
      text="&#xf0c9;"
      fontSize="18"
      (tap)="onDrawerButtonTap()"
    ></Label>
  </GridLayout>
</ActionBar>

<FlexboxLayout
  class="page__content"
  flexDirection="column"
  alignItems="center"
  justifyContent="center"
>
  <Label class="username" text="Hello Antonis!"></Label>
  <Label class="pintos-label" text="Your pintos are:"></Label>
  <Label class="pintos" text="8"></Label>
  <Label class="qr-label" text="Scan to use or add more pintos"></Label>
  <Image width="200" height="200" (loaded)="generateQrCode($event)"></Image>
</FlexboxLayout>
